<div>
  <form [formGroup]="hostelForm" (ngSubmit)="submitForm()">
    <label>Name
      <input type="text" required formControlName="name" >
    </label>
  </form>
</div>

<button (click)="getHostels()">Read</button>
<button (click)="test2()">Post</button>
<button (click)="test3()">Delete</button>
<button (click)="test4()">Update</button>
<button (click)="test5()">Modifier</button>

<div *ngFor="let hostels of hostels">
  <strong>Welcome to {{hostels.name}} !</strong>
  <p>Our director is {{hostels.director}}</p>
  <p>We are {{hostels.stars}} stars hostels with {{hostels.roomNumber}} rooms</p>
  <p>Is a pool ? : {{hostels.pool}}</p>
</div>

