<article>
  <div *ngIf="isLoading">CHARGEMENT !!!!!!!!</div>

  <form [formGroup]="hostelForm" (ngSubmit)="submitForm()">

    <div *ngIf="hostelForm.invalid && hostelForm.dirty">ERROR FORMULAIRE!</div>

    <ng-container *ngIf="!isLoading">

      <label>Name
        <input type="text" required formControlName="name">
        <div *ngIf="name.invalid && name.dirty">Erreur Name</div>
      </label>

      <label>Director
        <input type="text" required formControlName="director">
        <div *ngIf="director.invalid && director.dirty">Erreur director</div>
      </label>

      <label>Stars
        <input type="number" required formControlName="stars">
        <div *ngIf="stars.invalid && stars.dirty">Erreur Stars</div>
      </label>

      <label>RoomNumber
        <input type="number" required formControlName="roomNumber">
        <div *ngIf="roomNumber.invalid && roomNumber.dirty">Erreur RoomNumber</div>
      </label>

      <label>Pool
        <input type="string" required formControlName="pool">
        <div *ngIf="pool.invalid && pool.dirty">Erreur Pool</div>
      </label>

      <button (click)="hostelForm.reset()" type="button">Reset</button>
      <button type="submit">Valider</button>

    </ng-container>

  </form>

  <button  (click)="getHostels()">Read</button>

  <ng-container  *ngIf="isReading === true">
  <div *ngFor="let hostels of hostels">
    <strong>Welcome to {{hostels.name}} !</strong>
    <p>Our director is {{hostels.director}}</p>
    <p>We are {{hostels.stars}} stars hostels with {{hostels.roomNumber}} rooms</p>
    <p>Is a pool ? : {{hostels.pool}}</p>
  </div>
  </ng-container>
</article>


