<div>

  <form [formGroup]="roomForm" (ngSubmit)="submitForm()">
    <div *ngIf="roomForm.invalid && roomForm.dirty">ERROR FORMULAIRE!</div>

    <ng-container *ngIf="!isLoading">
      <label>Room Name
        <input type="text" required formControlName="name">
        <div *ngIf="name.invalid && name.dirty">Erreur Name</div>
      </label>

      <label>Your Name
        <input type="text" required formControlName="peopleName">
        <div *ngIf="peopleName.invalid && peopleName.dirty">Erreur director</div>
      </label>

      <label>Size Room
        <input type="number" required formControlName="size">
        <div *ngIf="size.invalid && size.dirty">Erreur Stars</div>
      </label>

      <label>In hostel
        <select type="text" required formControlName="parent">
          <option *ngFor="let hostel of hostels" [value]="hostel.uid">{{hostel.name}}</option>
        </select>
      </label>

      <button (click)="roomForm.reset()" type="button">Reset</button>
      <button type="submit" [disabled]="!roomForm.valid">Valider</button>
    </ng-container>
  </form>

  <button (click)="getRooms()">Read</button>

  <ng-container *ngIf="isReading === true">
    <div *ngFor="let room of rooms">
      <strong>This is {{room.name}} room !</strong>
      <p>Welcome {{room.peopleName}}</p>
      <p>This is a {{room.size}} size room</p>
      <p>The id is {{room.uid}}</p>
      <button>Modifier</button>
      <button type="button" (click)="deleteById(room)">Supprimer</button>
    </div>
  </ng-container>
</div>
<router-outlet></router-outlet>
